KC_DB=postgres

KC_DB_URL_HOST=academic-tasks-db
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=academic-tasks

KC_DB_SCHEMA=keycloak
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=55aa6435d16a438185bc7e14199b209e

# KC_PROXY=edge
# KC_HOSTNAME_URL=https://TARGET
# KC_HOSTNAME_STRICT=false
# KC_HOSTNAME_STRICT_BACKCHANNEL=true

KEYCLOAK_ADMIN=UnsafePassword
KEYCLOAK_ADMIN_PASSWORD=UnsafePassword