KC_DB=postgres

KC_DB_URL_HOST=academic-tasks-db
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=academic-tasks

KC_DB_SCHEMA=keycloak
KC_DB_USERNAME=dabee
KC_DB_PASSWORD=1eaa7a9b5c8f4b24bd6ed50f592bbdc6

# KC_PROXY=edge
# KC_HOSTNAME_URL=https://TARGET
# KC_HOSTNAME_STRICT=false
# KC_HOSTNAME_STRICT_BACKCHANNEL=true

KEYCLOAK_ADMIN=UnsafePassword
KEYCLOAK_ADMIN_PASSWORD=UnsafePassword